@import '../../styles.css';

.content {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
  margin-top: 150px;
  /* width: 100vw; */
}

.title,
.titleSpacer {
  font-family: 'Gotham Light Italic';
  font-size: rem(100px);
  letter-spacing: rem(-2px);

  @media (max-width: 500px) {
    font-size: rem(75px);
  }
}
.smolTitle {
  font-family: 'Gotham Light Italic';
  font-size: rem(60px);
  letter-spacing: rem(-2px);
  margin-left: 10px;

  @media (max-width: 500px) {
    font-size: rem(40px);
  }
}

.title {
  color: light-dark(#000000, var(--lightest));

  text-shadow: 2px 2px 2px #000000;
  margin-top: -60px;

  @media (max-width: 500px) {
    margin-top: -30px;
  }
}

.titleSpacer {
  color: light-dark(#f4f4f4, #adadad);
  @media (max-width: 700px) {
    display: none;
  }
}

.projectTitleDiv {
  flex-direction: column;
  justify-content: space-around;
  display: flex;
}

.titleLocation {
  align-self: start;
  display: flex;

  @media (max-width: 700px) {
    flex-direction: column;
  }
}

.titleLocation {
  align-self: start;
  display: flex;

  @media (max-width: 700px) {
    flex-direction: column;
  }
}

.paperContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
}

.projectCard {
  max-width: 320px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
  border-radius: 16px;
  background-color: light-dark(#ffffff88, #00000099);
  backdrop-filter: blur(4px);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: transform 0.3s ease;
  height: 600px;
}

.projectCard:hover {
  transform: scale(1.03);
}

.projectCardImg {
  width: 100%;
  max-height: 200px;
  object-fit: contain;
  margin-bottom: 1rem;
  background-color: light-dark(#ffffff, #000000);
}

.projectCardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  gap: 0.75rem;
}

.projectCardButton {
  flex-grow: 1;
  display: flex;
  /* color: #000000; */
}

.aboutPaper {
  max-width: 80vw;
  padding: 2rem;
  background-color: light-dark(#ffffff22, #00000022);
  border-radius: 16px;
  backdrop-filter: blur(4px);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.projectDownloadButton {
  font-family: 'Gotham Book';
  font-size: 1.3rem;
  padding: 0.75rem 1.5rem;
  background: #00000066;
  border: 3px outset var(--mantine-color-ekBlue-7);
  color: var(--mantine-color-ekBlue-4);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  border-radius: 14px;
  scale: 105%;
}

.projectDownloadButton:hover {
  border-color: var(--mantine-color-ekCeladon-4);
  color: var(--mantine-color-ekCeladon-2);
  background: #00000088;
  transition: all 0.5s ease-in-out;
  scale: 107%;
}

.projectDownloadButton:active {
  scale: 100%;
  transition: all 0.5s ease-in-out;
}

.dark .projectDownloadButton {
  border-color: var(--mantine-color-ekRed-3);
  color: var(--mantine-color-ekRed-4);
  transition: all 0.5s ease-in-out;
}

.dark .projectDownloadButton:hover {
  border-color: var(--mantine-color-ekCeladon-3);
  color: var(--mantine-color-ekCeladon-2);
  transition: all 0.5s ease-in-out;
}

.hvr_underline_from_center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr_underline_from_center:before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: var(--mantine-color-ekCeladon-5);
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.dark .hvr_underline_from_center:before {
  background: var(--mantine-color-ekCeladon-3);
}

.hvr_underline_from_center:hover:before,
.hvr_underline_from_center:focus:before,
.hvr_underline_from_center:active:before {
  left: 0;
  right: 0;
}

.paperHeadline {
  padding-bottom: 20px;
  font-family: 'Gotham Thin';
}

.paperText {
  font-size: larger;
  font-family: 'Gotham Light';
}

.comingSoon {
  background-color: light-dark(#ffffff44, #00000055);
  backdrop-filter: blur(6px);
  padding: 20px;
  text-align: center;
}

.comingSoonH1 {
  font-family: 'Gotham Medium';
  font-size: x-large;
  margin-bottom: 15px;
}

.comingSoonH3 {
  font-family: 'Gotham medium';
  font-size: larger;
}
